body {
    background-color: blue;
}
hr {
    background-color: white;
    border-style: none;
    height: 2px;
    width: 95%;
}

/*Quiz*/
/* hr {
    border-color: gray;
    border-style: none;
    border-top-style: dotted;
    border-width: 3px;
    width: 8%;
} */

h1 {
    color: #011255;
}

h3 {
    color: #852312;
}